$primary: #527C4E;//#150080;
$accent: #d08642;
$bg: #ffffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2d264b;
$light-green: #D1E9B9;
$mid-green:#77AE74;

body {
    font-family: monospace;
    background: $light-green;
    //linear-gradient(0deg, $primary 0.3%, desaturate($accent,8%));
    color: $foreground;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100vh;
}

.quiz-container {
    width: 70%wh;
    background: $bg;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 1rem;
    box-sizing: border-box;

    .active-question-no{
        font-size: 2rem;
        font-weight: 500;
        color: $mid-green;
    }

    .total-question{
        font-size: 1.25rem;
        font-weight: 500;
        color: $disabled;
    }

    h2{
        font-size:1rem;
        font-weight: 500;
        text-align:center;
        margin:0;
        border:0;
    }


    ul {
        margin-top: 1.25rem;
        margin-left: -2.5rem;

        li {
               text-decoration: none;
               list-style: none;
               color: $foreground;
               font-size: 1rem;
               background: $bg;
               border:0.1rem solid $disabled;
               border-radius: 1rem;
               padding: 0.75rem;
               margin-top: 1rem;
               cursor: pointer;
           }
        .selected-answer {
            background: $primary;
            border: 0.1rem solid $accent;
            color: $bg;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
    }

button {
    background: $primary;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    color: $bg;
    padding: 0.75rem 2.5rem;
    outline: none;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    font-family: monospace;
    &:disabled {
                       background: $bg-accent;
                       color: $disabled;
                       cursor: not-allowed;
                   }
    }

    .result {
        text-align: center;

        h3 {
               font-size: 1.5rem;
               letter-spacing: 0.08rem;
               text-align: center;
           }

           p {
               font-size: 1rem;
               font-weight: 500;

               span {
                        color: $primary;
                        font-size: 1.75rem;
                    }

           }
    }
}

.form-field {
        display: block;
        width: fit-content;
        margin: auto;
        padding: 0.5rem 1rem;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: inherit;
        border-radius: 0.5rem;
        color: var(--input-color);
        border: 0.125rem solid;
        background: $bg;
        &::placeholder
    {
        color: var(--input-placeholder);
    }

    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }
}

button {
    background: #527C4E;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    color: $bg;
    padding: 0.75rem 2.5rem;
    outline: none;
    border: none;
    margin: auto;
    cursor: pointer;
    display: block;
    font-family: monospace;
    &:disabled
    {
        background: $bg-accent;
        color: $disabled;
        cursor: not-allowed;
    }
}

label {
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary;
    margin: auto;
    text-align:center;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    //border-style: groove;
    object-fit: contain;
    margin: 0.75rem 0rem 0.75rem 0rem;
}

.centered-div{
    display: grid;
    place-content: center;
}